@using DixonsCarphone.WorkforceManagement.ViewModels.BusinessModels
@model PublishedBudgetsVM

@{
    ViewBag.Title = "SOH Budgets";

    List<byte?> weekList = new List<byte?>();
    if(Model.BudgetCollection != null && Model.BudgetCollection.Count() > 0)
    {
        weekList = Model.BudgetCollection.GroupBy(x => x.Week).Select(x => x.Key).ToList();
    }
}

<section class="content">
    <div class="row">
        &nbsp;
    </div>
    <div class="row">
        <div class="col-lg-12">
            @Html.Partial("~/Views/Shared/_Messages.cshtml", Model)
        </div>
    </div>

    @if (Model.BudgetCollection != null && Model.BudgetCollection.Count > 0)
    {
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <strong>SOH Budgets</strong>
                    </div>
                    <div class="panel-body">
                        <p>Below are the most recent set of SOH budget numbers to be published for your branch.</p>
                        <p>If there are any queries with the numbers shown below please escalate to your RM in the first instance.</p>
                    </div>
                </div>
            </div>
        </div>

        var branchList = Model.BudgetCollection.GroupBy(x => x.Branch).Select(x => x.Key).ToList();
        var pageSize = branchList.Count() > 1 ? 10 : 12;
        var pages = Model.BudgetCollection.GroupBy(x => x.Week).Count() / pageSize + 1;
        var a = Model.BudgetCollection.OrderBy(x => x.Week).Take(pageSize).ToList();
        var b = weekList.OrderBy(x => x).Take(pageSize).ToList();

        for (int i = 1; i <= pages; i++)
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="panel-body">
                        <table class="table table-condensed table-bordered">
                            <thead style="background-color:#002249; color:aliceblue">
                                <tr>
                                    @if (branchList.Count() > 1)
                                    {
                                        <th class="text-center col-xs-2">Branch</th>
                                    }
                                    @foreach (var item in b)
                                    {
                                        <th class="text-center col-xs-1">@string.Format("Week {0}", item.ToString())</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @if (branchList.Count() == 1)
                                {
                                    <tr>
                                        @foreach (var item in a)
                                        {
                                            <td class="text-center">@item.SOHTarget</td>
                                        }
                                    </tr>
                                }
                                else
                                {
                                    foreach (var item in branchList)
                                    {
                                        var branchDetails = Model.BudgetCollection.Where(x => x.Branch == item).OrderBy(x => x.Week).Skip(pageSize * (i-1)).Take(pageSize).ToList();
                                        <tr>
                                            <td>@branchDetails[0].Branch</td>
                                            @foreach (var subitem in branchDetails)
                                            {
                                                <td class="text-center">@subitem.SOHTarget</td>
                                            }
                                        </tr>
                                    }
                                    <tr>
                                        <td><strong>Region Total</strong></td>
                                        @foreach (var item in b)
                                        {
                                            <td class="text-center"><strong>@string.Format("{0:0}", Model.BudgetCollection.Where(x => x.Week == item.Value).Sum(x => x.SOHTarget))</strong></td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            a = Model.BudgetCollection.OrderBy(x => x.Week).Skip(pageSize * i).Take(pageSize).ToList();
            b = weekList.OrderBy(x => x).Skip(pageSize * i).Take(pageSize).ToList();
        }
    }
    else
    {
        <div class="alert alert-info text-center"><strong>Budgets have not yet been finalised for your store, please stay tuned</strong></div>
    }
</section>