@using DixonsCarphone.WorkforceManagement.ViewModels.BusinessModels
@model PublishedBudgetsVM

@{
    ViewBag.Title = "SOH Budgets";

    var weekList = Model.BudgetCollection.GroupBy(x => x.Week).Select(x => x.Key).ToList();
}

<section class="content">
    <div class="row">
        &nbsp;
    </div>
    <div class="row">
        <div class="col-lg-12">
            @Html.Partial("~/Views/Shared/_Messages.cshtml", Model)
        </div>
    </div>

    @if (Model.BudgetCollection != null && Model.BudgetCollection.Count > 0)
    {
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <strong>My Budgets</strong>
                    </div>
                    <div class="panel-body">
                        <p>Below are the most recent set of budget numbers to be published for your branch.</p>
                        <p>If there are any queries with the numbers shown below please escalate to your RM in the first instance.</p>
                    </div>
                </div>
            </div>
        </div>

        var branchList = Model.BudgetCollection.GroupBy(x => x.Branch).Select(x => x.Key).ToList();
        <div class="row">
            <div class="col-md-12">
                <div class="panel-body">
                    <table class="table table-condensed table-bordered">
                        <thead style="background-color:#002249; color:aliceblue">
                            <tr>
                                @if (branchList.Count() > 1)
                                {
                                    <th class="text-center col-md-3">Branch</th>
                                }
                                @foreach (var item in weekList)
                                {
                                    <th class="text-center">@string.Format("Week {0}", item.ToString())</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @if (branchList.Count() == 1)
                            {
                                <tr>
                                    @foreach (var item in Model.BudgetCollection.OrderBy(x => x.Week))
                                    {
                                        <td class="text-center">@item.SOHTarget</td>
                                    }
                                </tr>
                            }
                            else
                            {
                                foreach (var item in branchList)
                                {
                                    var branchDetails = Model.BudgetCollection.Where(x => x.Branch == item).OrderBy(x => x.Week).ToList();
                                    <tr>
                                        <td>@branchDetails[0].Branch</td>
                                        @foreach (var subitem in branchDetails)
                                        {
                                            <td class="text-center">@subitem.SOHTarget</td>
                                        }
                                    </tr>
                                }
                                <tr>
                                    <td><strong>Region Total</strong></td>
                                    @foreach (var item in weekList)
                                    {
                                        <td class="text-center"><strong>@string.Format("{0:0}", Model.BudgetCollection.Where(x => x.Week == item.Value).Sum(x => x.SOHTarget))</strong></td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        
        
    }
</section>