@using DixonsCarphone.WorkforceManagement.ViewModels.BusinessModels
@model HolidayPlanningVM

@{
    Func<char, string> ragFormat = (c) =>
    {
        string result = "success";
        if (c == 'R')
        {
            result = "danger";
        }
        else if (c == 'A')
        {
            result = "warning";
        }
        return result;
    };
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-12">
                    <div class="text-center col-md-6 col-md-offset-3">
                        <table class="table table-bordered-blue table-condensed">
                            <thead>
                                <tr>
                                    <th class="text-center col-md-2 col-sm-2">YTD Taken</th>
                                    <th class="text-center col-md-2 col-sm-2">YTD Ideal</th>
                                    <th class="text-center col-md-2 col-sm-2">%</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center">@Model.TotalTaken</td>
                                    <td class="text-center">@Model.TotalToTake</td>
                                    <td class="text-center">@string.Format("{0:0}%", Model.PercTaken * 100)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    @if (Model.PercTaken < 0.8)
                    {
                        <span class="col-md-12 alert alert-warning text-center" style="font-size:small"><strong>Watch Out! </strong>You are underspent on holiday YTD, this may cause issues with deployment later in the year.</span>
                    }
                    else if (Model.PercTaken > 1.2)
                    {
                        <span class="col-md-12 alert alert-warning text-center" style="font-size:small"><strong>Watch Out! </strong>You are overspent on holiday YTD, this may cause issues with deployment later in the year.</span>
                    }
                    <div class="box-body col-md-12">
                        <div class="chart" id="graph-container">
                            <canvas id="holiday-chart" style="height:250px"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer text-center">
                <small><strong><u>Note:</u></strong> Scheduled hours are only displayed 7 weeks in advance.</small>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                <div class="row">
                    <strong>Detail Breakdown</strong>
                </div>
            </div>
            <div class="panel-body">
                <p class="text-center">
                    The RAG status reflects your team's holiday usage against how much they should have taken by this point in the year.<br>
                    <span style="font-size:small">
                        <strong style="color:green">Green: </strong>Looking good<br>
                        <strong style="color:orange">Amber: </strong>Could be better, discuss with the colleague their plans for holiday<br>
                        <strong style="color:red">Red: </strong>This is a problem, discuss the colleague's holiday plan to ensure they are fully utilising their holiday at non-peak times of the year<br>
                    </span>
                </p>
                <table class="table table-bordered-blue table-condensed">
                    <thead>
                        <tr>
                            <th class="text-center">Name</th>
                            <th class="text-center col-md-2 col-sm-2">Holiday Remaining (Hrs)</th>
                            <th class="text-center col-md-2 col-sm-2">Holiday Taken</th>
                            <th class="text-center col-md-2 col-sm-2">RAG</th>
                            <th class="text-center col-md-2 col-sm-2">Ideal <small>(approx.)</small></th>
                            <th class="text-center col-md-2 col-sm-2">Planned</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.DetailCollection)
                        {
                            var _rag = item.RAG(Model.PercToTake);
                            <tr>
                                <td>@item.ID</td>
                                <td class="text-center">@item.BalanceRemaining</td>
                                <td class="text-center">@item.HolidayTaken</td>
                                <td class="text-center @(ragFormat(_rag))" )>@_rag</td>
                                <td class="text-center">@string.Format("{0:0}", (item.BalanceRemaining + item.HolidayTaken) * Model.PercToTake)</td>
                                <td class="text-center">@item.Planned</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
