@using DixonsCarphone.WorkforceManagement.ViewModels.BusinessModels
@model MyTeamViewModel

<div class="row">
    <div class="col-md-12">
        <div class="panel-body">
            <table class="table table-condensed table-bordered col-md-12">
                <thead style="background-color:#002249; color:aliceblue">
                    <tr>
                        <th class="text-center">Employee Name</th>
                        <th class="text-center">Job Role</th>
                        <th class="text-center">Contract Hours</th>
                        <th class="text-center">Holiday Balance (Hrs)</th>
                        <th class="text-center">Holiday Balance (Days)</th>
                    </tr>
                </thead>
                @foreach (var item in Model.MyTeam)
                {
                    <tr>
                        <td>@string.Format("{0}, {1}", item.SURNAME, item.FORENAME)</td>
                        <td>@item.ROLE</td>
                        <td class="text-center">@item.CONTRACT_HOURS</td>
                        <td class="text-center">@item.TODAYS_BALANCE</td>
                        <td class="text-center">@Math.Round((double)item.TODAYS_BALANCE / 9, 2)</td>
                    </tr>
                }
            </table>
            @*<br />
    <p>
        <h4><strong><u>Average Contract Hours</u></strong></h4>
        This is the average number of hours colleagues in your store have contracted.<br />
        <i>It is calculated as: [Total Contracted Hours] / [Total Contracted Heads] = [Average Contracted Hours]</i>
    </p>
    <div id="container" class="text-center">
        <img style="position:absolute;z-index:1" src="~/Images/GaugeBG.jpg" alt="" height="223" width="413"/>
        <canvas id="contract-mix" height="223" width="413" style="z-index:0;position:absolute">Contract Mix</canvas>
        <canvas id="contract-act" height="223" width="413" style="z-index:1;position:relative">Contract Mix</canvas>
    </div>*@
        </div>
    </div>
</div>

<style>
    #container{
        width:413px; 
        height:223px;
        margin: 0 auto; 
        border-radius: 10px; 
        position:relative;
        box-shadow: 0 5px 10px #333;
    }

</style>