@using DixonsCarphone.WorkforceManagement.ViewModels.BusinessModels
@model MyTeamViewModel

<div class="row">
    <div class="col-md-12">
        <div class="panel-body">
            <table class="table table-condensed table-bordered col-md-12">
                <thead style="background-color:#002249; color:aliceblue">
                    <tr>
                        <th class="text-center">Employee Name</th>
                        <th class="text-center">Job Role</th>
                        <th class="text-center col-md-2">Contract Hours</th>
                        <th class="text-center col-md-2">Holiday Remaining (Hrs)</th>
                        <th class="text-center col-md-2">Avg Weekly Hrs</th>
                    </tr>
                </thead>
                <tbody style="font-size:small">
                    @foreach (var item in Model.MyTeam)
                    {
                        <tr>
                            <td>@string.Format("{0}, {1}", item.SURNAME, item.FORENAME)</td>
                            <td>@item.ROLE.Replace(".Retail","")</td>
                            <td class="text-center">@item.CONTRACT_HOURS</td>
                            <td class="text-center">@item.TODAYS_BALANCE</td>
                            <td class="text-center">@item.CONTRACT_DAYS</td>
                        </tr>
                    }
                </tbody>
            </table>
            <br />
            <p>
                <h4><strong><u>Average Contract Hours</u></strong></h4>
                This is the average number of hours colleagues in your store have contracted.<br />
                <i>It is calculated as: [Total Contracted Hours] / [Total Contracted Heads] = [Average Contracted Hours]</i>
            </p>
            <br />
            <div id="container" class="text-center">
                <canvas id="contract-mix" height="223" width="413" style="z-index:0;position:absolute">Contract Mix</canvas>
                <canvas id="contract-act" height="223" width="413" style="z-index:1;position:relative">Contract Mix</canvas>
            </div>
            <br />
            <table class="table table-bordered">
                <tr>
                    <td>If your average contract hours are too high:</td>
                    <td style="font-size:small">
                        <ul>
                            <li>You will be less able to flex up for busier periods</li>
                            <li>Any colleague absence (or resignations) will be harder to back fill</li>
                            <li>You will be less likely to be able to deploy well across the week and will struggle to get the right amount of hours in on your busy days</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>If your average contract hours are too low:</td>
                    <td style="font-size:small">
                        <ul>
                            <li>You may have a higher rate of colleague turnover</li>
                            <li>May find it harder to attract the right candidates for vacancies</li>
                            <li>May have colleagues with lower skills or knowledge due to less experience / time serving</li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<style>
    #container{
        width:413px; 
        height:223px;
        margin: 0 auto; 
        position:relative;
        border: 1px solid #ddd;
        border-radius: 10px;
    }

</style>