<div class="panel-group" role="tablist" aria-multiselectable="false">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title"><strong>More on Scheduling...</strong></h4>
        </div>
        <div class="panel-body">
            <div class="col-md-12">
                <a href="@Url.Action("Scheduling","STARHandbook", new { articleNumber = 1 })" class="btn btn-primary col-lg-3 col-md-5" style="margin-bottom:15px" role="button">Viewing a Schedule</a>
                <span class="col-lg-1 col-md-1"></span>
                <a href="@Url.Action("Scheduling","STARHandbook", new { articleNumber = 2 })" class="btn btn-primary col-lg-3 col-md-5" style="margin-bottom:15px" role="button">Adding a Standard Shift</a>
                <span class="col-lg-1 col-md-1"></span>
                <a href="@Url.Action("Scheduling","STARHandbook", new { articleNumber = 3 })" class="btn btn-primary col-lg-3 col-md-5" style="margin-bottom:15px" role="button">Deleting a Shift</a>
                <span class="col-lg-1 col-md-1"></span>
                <a href="@Url.Action("Scheduling","STARHandbook", new { articleNumber = 4 })" class="btn btn-primary col-lg-3 col-md-5" style="margin-bottom:15px" role="button">Editing a Schedule</a>
                <span class="col-lg-1 col-md-1"></span>
                <a href="@Url.Action("Scheduling","STARHandbook", new { articleNumber = 5 })" class="btn btn-primary col-lg-3 col-md-5" style="margin-bottom:15px" role="button">Entering an Absence</a>
                <span class="col-lg-1 col-md-1"></span>
                <a href="@Url.Action("Scheduling","STARHandbook", new { articleNumber = 6 })" class="btn btn-primary col-lg-3 col-md-5" style="margin-bottom:15px" role="button">Using Paycodes</a>
                <span class="col-lg-1 col-md-1"></span>
                <a href="@Url.Action("Scheduling","STARHandbook", new { articleNumber = 7 })" class="btn btn-primary col-lg-3 col-md-5" style="margin-bottom:15px" role="button">Scheduling Holidays</a>
                <span class="col-lg-1 col-md-1"></span>
                <a href="@Url.Action("Scheduling","STARHandbook", new { articleNumber = 8 })" class="btn btn-primary col-lg-3 col-md-5" style="margin-bottom:15px" role="button">Adding a Cover Shift</a>
                <span class="col-lg-1 col-md-1"></span>
                <a href="@Url.Action("Scheduling","STARHandbook", new { articleNumber = 9 })" class="btn btn-primary col-lg-3 col-md-5" style="margin-bottom:15px" role="button">Scheduling a Perm Transfer</a>
                <span class="col-lg-1 col-md-1"></span>
                <a href="@Url.Action("Scheduling","STARHandbook", new { articleNumber = 10 })" class="btn btn-primary col-lg-3 col-md-5" style="margin-bottom:15px" role="button">Scheduling a Leaver</a>
                <span class="col-lg-1 col-md-1"></span>
                <a href="@Url.Action("Scheduling","STARHandbook", new { articleNumber = 11 })" class="btn btn-primary col-lg-3 col-md-5" style="margin-bottom:15px" role="button">Holiday Balance & Entitlement</a>
                <span class="col-lg-1 col-md-1"></span>
                <a href="@Url.Action("Scheduling","STARHandbook", new { articleNumber = 13 })" class="btn btn-primary col-lg-3 col-md-5" style="margin-bottom:15px" role="button">Schedule Guidelines</a>
                <span class="col-lg-1 col-md-1"></span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
    </div>
</div>
