@using DixonsCarphone.WorkforceManagement.ViewModels.Model;
@using DixonsCarphone.WorkforceManagement.ViewModels.BusinessModels
@using DixonsCarphone.WorkforceManagement.ViewModels

@model HomeViewModel

@{
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
    var topNews = Model.Activities.OrderByDescending(x => x.ActivityDate).ThenBy(x => x.StartTime).Where(x => x.ActivityType.ActivityType1 == "News").Take(2).ToList();
    //var topAction = Model.Activities.OrderByDescending(x => x.ActivityDate).ThenBy(x => x.StartTime).FirstOrDefault(x => x.ActivityType.ActivityType1 == "Actions");

    var newsId = (int)ActivityType.News;
    //var actionsId = (int)ActivityType.Actions;

    ViewBag.Title = "Workforce Management";
    bool firstNews = true;
}

<div class="modal fade" id="feedback" tabindex="-1" role="form">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="branchSearchLabel">
                    Submit feedback:
                </h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" method="post">
                    <div class="form-group"  style="padding:15px">
                        <fieldset>
                            <textarea class="form-control" id="feedbackText" name="feedbackText" required></textarea>
                        </fieldset>
                    </div>
                    <div class="text-center">
                        <button type="submit" value="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="row">
        &nbsp;
    </div>
    <div class="row">
        <div class="col-lg-12">
            @Html.Partial("~/Views/Shared/_Messages.cshtml", Model)
        </div>
    </div>

    @Html.Partial("~/Views/Partials/_PageBlurb.cshtml", (BaseViewModel)Model)

    <div class="row">
        @Html.Partial("~/Views/Partials/_ScoresAndUtilization.cshtml", Model.Scores)
    </div>

    @if (topNews.Count() != 0 && !(bool)HttpContext.Current.Session["_ROIFlag"])
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="panel-title"><strong>News</strong></h5>
            </div>
            <div class="panel-body">
                @for (int i = 0; i < topNews.Count(); i++)
                {
                    if (firstNews == false)
                    {
                        <hr />
                    }
                    <p>
                        <h4 style="color:#279399"><u><strong>@topNews[i].ActivityName - @string.Format("{0:d}", topNews[i].ActivityDate)</strong></u></h4>
                        @topNews[i].Detail
                    </p>
                    firstNews = false;
                }
                <a href="@Url.Action("GetActivities", "Planning", new { activityTypeId = newsId })" class="btn btn-primary btn-lg pull-right" role="button">View Archive</a>
            </div>
        </div>
    }

    <div class="panel panel-default">
        <div class="panel-body">
            <h3 style="margin-top:2px" class="text-center"><strong>Welcome to Workforce Management</strong></h3>
            <p>Welcome to your new workforce management intranet site. The new site will give you greater access to reporting, forms and schedules along with containing all the information and support you need to help manage your team.</p>
            <p>
                <strong><u>Features include:</u></strong>
                </p><div class="row">
                    <div class="col-md-4">
                        <ul>
                            <li>Weekly reporting of SOH spend versus budget</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul>
                            <li>Analysis of daily deployment compared to customer demand</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul>
                            <li>Full detail of WFM compliance risk and issues</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <ul>
                            <li>Form for feeding back changes to standard trading hours</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul>
                            <li>Tool for confirmation of peak trading hours</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul>
                            <li>Store level Profit &amp; Loss statements</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <ul>
                            <li>Summary of team information held by HR</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul>
                            <li>STAR knowledge base and user guide</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul></ul>
                    </div>
                </div>
            <p></p>
            <hr>
            <p>
                <strong><u>Coming soon:</u></strong>
                </p><div class="row">
                    <div class="col-md-4">
                        <ul>
                            <li>Holiday planning tracker and guidance</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul>
                            <li>SOH spend history and insight</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul>
                            <li>Hr feedback forms</li>
                        </ul>
                    </div>
                </div>
            <hr />
            <div class="col-md-12">
                <p class="text-center"><strong>We have loads of useful features and reporting we are planning on bringing to the site but feedback and suggestions are always welcome. If you have any ideas for a new report or improvements to an existing feature please use the button below to submit a suggestion.</strong></p>
                <div class="text-center"><button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#feedback">Submit Feedback</button></div>
            </div>
        </div>
    </div>



            


</section>
    @section myScripts {

        @*<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>*@
        @*<script src="~/Content/Lte/plugins/fullcalendar/fullcalendar.min.js"></script>*@
        <!-- Page specific script -->
        <script>
            $(document).ready(function () {

                $('[data-toggle="tooltip"]').tooltip();

            });
           
        </script>

    }



