
@{
    ViewBag.Title = "RFTP Guide";
}

<div class="row">
    &emsp;
</div> 

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading text-center">
            <strong>Right First Time Pay</strong>
        </div>
        <div class="panel-body">
            <div class="col-sm-4 col-xs-12" style="margin-bottom:15px;"><a style="padding:15px 0; font-size:26px;" class="btn btn-info btn-lg btn-block" href="@Url.Action("TrainingDoc","Reports", new { f = "RFTPWhat.pdf"})" target="_blank">What</a></div>
            <div class="col-sm-4 col-xs-12" style="margin-bottom:15px;"><a style="padding:15px 0; font-size:26px;" class="btn btn-info btn-lg btn-block" href="@Url.Action("TrainingDoc","Reports", new { f = "RFTPWhy.pdf"})" target="_blank">Why</a></div>
            <div class="col-sm-4 col-xs-12"><a style="padding:15px 0; font-size:26px;" class="btn btn-info btn-lg btn-block" href="@Url.Action("TrainingDoc","Reports", new { f = "RFTPHow.pdf"})" target="_blank">How</a></div>
            <div class="col-sm-4 col-sm-offset-2 col-xs-12"><a style="padding:15px 0; font-size:26px;" class="btn btn-danger btn-lg btn-block" href="@Url.Action("TrainingDoc","Reports", new { f = "RFTPColleagueLetter.pdf" })" target="_blank">Colleague Letter</a></div>
            <div class="col-sm-4 col-xs-12"><a style="padding:15px 0; font-size:26px;" class="btn btn-danger btn-lg btn-block" href="@Url.Action("Fallback","STARHandbook")" target="_blank">Contingency</a></div>
        </div>
    </div>
</div>
