@using DixonsCarphone.WorkforceManagement.ViewModels.BusinessModels
@model TimecardSignOffVm

@{
    ViewBag.Title = "Timecard Sign Off";

    Func<short,string> RAG = (a) =>
    {
        var rtn = "";

        if(a == 2)
        {
            rtn = "warning";
        }
        else if(a ==3)
        {
            rtn = "danger";
        }

        return rtn;
    };
}

<div class="row">
    &emsp;
</div>

@if (Model.MessageType == MessageType.Error)
{
    @Html.Partial("~/Views/Shared/_Messages.cshtml", Model)
}
else if (Model.hf == null || Model.hf.Count() == 0)
{
    <div class="alert alert-danger text-center">
        <strong>Oops...</strong>
        <p>Something went wrong, please try again.</p>
        <a class="btn btn-sm btn-info" href="#">Retry</a>
    </div>
}
else if (HttpContext.Current.Session["_RegionNumber"] != null)
{
    <div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
        <strong>Timecard Sign Off</strong>
        </div>
    </div>
    <div class="panel-body">
        @*@Html.Partial("~/Views/Shared/_WeekPicker.cshtml", new WeekPickerViewModel { Action = "TimecardSignOff", Controller = "RightFirstTime", WeeksOfYear = Model.WeeksOfYear, SelectedDate = Model.SelectedDate })*@
        <strong style="font-size:large;">Week Commencing @Model.weekStart.ToShortDateString()</strong>
        <p>
            <span class="glyphicon glyphicon-time"></span> All information is shown as live from STAR.
        </p>
        <p>
            If there are no STAR users in a store with timecards still outstanding you can engage your TPC who will be able to support.
        </p>
        <table class="table table-bordered-blue table-condensed" style="margin-top:15px;">
            <thead>
                <tr>
                    <th class="text-center">Branch Name</th>
                    <th class="text-center col-xs-2">Timecards Completed</th>
                    <th class="text-center col-xs-2">Star User Scheduled</th>
                    <th class="text-center col-xs-2">Star User Clocked</th>                    
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model.rso)
                {
                    <tr>
                        <td>@string.Format("{0} - {1}", item.BranchNumber, item.BranchName)</td>
                        <td class="text-center @(item.RAG > 0 ? "danger" : "")">@string.Format("{0}/{1}", item.SignedOff, item.Headcount)</td>
                        <td class="text-center @(!item.KronosScheduled ? RAG(item.RAG) : "")">@(item.KronosScheduled ? "Y" : "N")</td>
                        <td class="text-center @(!item.KronosPunched ? RAG(item.RAG) : "")">@(item.KronosPunched ? "Y" : "N")</td>
                    </tr>
                }
                <tr>
                    <td><strong>Region Total</strong></td>
                    <td class="text-center"><strong>@string.Format("{0}/{1}", Model.rso.Sum(x => x.SignedOff), Model.rso.Sum(x => x.Headcount))</strong></td>
                    <td class="text-center"><strong>@string.Format("{0}/{1}", Model.rso.Where(x => x.KronosScheduled).Count(), Model.rso.Count())</strong></td>
                    <td class="text-center"><strong>@string.Format("{0}/{1}", Model.rso.Where(x => x.KronosPunched).Count(), Model.rso.Count())</strong></td>                    
                </tr>
            </tbody>
        </table>
    </div>
</div>

}
else
{
    @Html.Partial("~/Views/Partials/_INeedHelpModal.cshtml")
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title"><strong>Timecard Sign Off</strong></div>
        </div>
        <div class="panel-body">
            @*@Html.Partial("~/Views/Shared/_WeekPicker.cshtml", new WeekPickerViewModel { Action = "TimecardSignOff", Controller = "RightFirstTime", WeeksOfYear = Model.WeeksOfYear, SelectedDate = Model.SelectedDate })*@
            <strong style="font-size:large;">Week Commencing @Model.weekStart.ToShortDateString()</strong>
            <p>
                <span class="glyphicon glyphicon-time"></span> Timecard Sign off information is shown as live from STAR. Edited clocks count is updated at 8AM each day.
            </p>
            <table class="table table-bordered-blue table-condensed" style="margin-top:15px;">
                <tr>
                    <th class="text-center">Name</th>
                    <th class="text-center col-xs-2">Timecard Signed Off</th>
                    @*<th class="text-center col-xs-1">Zero Hour</th>*@
                    <th class="text-center col-xs-2">Edited Clocks</th>
                    <th class="text-center">I Need Help</th>
                </tr>
                @foreach (var item in Model.hf.Where(x => x.PersonData.Person.ManagerSignoffThruDateTime.Year != 1901).OrderBy(x => x.FullName))
                {
                    //var data = Model.ts.Where(x => x.Employee.PersonIdentity.PersonNumber == item.PersonNumber).FirstOrDefault();
                    var ss = Model.ss.Where(x => x.PersonNum == item.PersonNumber).Count();
                    <tr>
                        <td>@item.FullName</td>
                        <td class="text-center"><strong>@(item.PersonData.Person.ManagerSignoffThruDateTime >= Model.weekStart.AddDays(6) ? "✔" : "X")</strong></td>
                        @*<td class="text-center"><strong>@(data.ManagerSignoffDateTime.Contains(Model.weekStart.AddDays(6).ToShortDateString()) ? "✔" : "X")</strong></td>*@
                        @*<td class="text-center">@(data.PeriodTotalData.PeriodTotals.Totals.Total.Count() == 0 ? "Yes" : "")</td>*@
                        <td class="text-center">@(ss > 0 ? ss.ToString() : "")</td>
                        <td class="text-center"><button type="button" class="btn btn-sm btn-info helpModal" data-empnum="@item.PersonNumber">Help</button></td>
                    </tr>
                }
            </table>
        </div>
    </div>
}

@section myScripts{
<script>
    $(function () {
        var empNum = 0;
        var first = true;
        var $helpBody = $('#helpBody');
        var contentHtml = $helpBody.html();

        $('.helpModal').click(function () {
            empNum = $(this).data('empnum');        
            if (!first) {
                $helpBody.html(contentHtml);
            }
            else {
                first = !first;
            };
            $('#helpModal').modal('toggle');
        });

        //base to level 1
        $('#helpModal').on('click', '.lvl1', function () {
            var path = $(this).data('step').toString();
            console.log(path);
            $('#baseContainer').slideUp(350, function () {
                $('#' + path).slideDown(350);
            });            
        });

        //level 1 to level 2
        $('#helpModal').on('click', '.lvl2', function () {
            var path = $(this).data('step').toString();
            $('#level1').slideUp(350, function () {
                $('#' + path).slideDown(350);
            });            
        });

        //level 2 to 3
        $('#helpModal').on('click', '.lvl3', function () {
            var path = $(this).data('step').toString();
            $('#level2').slideUp(350, function () {
                $('#' + path).slideDown(350);
            });
        });

        //change path 3
        $('#helpModal').on('click', '.lvlup3', function () {
            var path = $(this).data('step').toString();
            $('#3_1').slideUp(350, function () {
                $('#' + path).toggle()
                $('#3').toggle();
                $('#level1').slideDown(350);
            });
        });

        //change path 4
        $('#helpModal').on('click', '.lvlup4', function () {
            var path = $(this).data('step').toString();
            $('#5_2').slideUp(350, function () {
                $('#' + path).slideDown(350);
            });
        });
    });

</script>    
}