@using DixonsCarphone.WorkforceManagement.ViewModels.BusinessModels
@model ComplianceViewModel

@{
    ViewBag.Title = "Compliance";
}
<section class="content">
    <div class="row">
        &nbsp;
    </div>

    @Html.Partial("~/Views/Partials/_PageBlurb.cshtml", Model)

    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <strong>Right First Time Pay</strong>
                </div>
                <div class="panel-body">
                    <strong class="text-danger"><u>Needs to be rewritten</u></strong><br />
                    <strong>Note:</strong>The previous week is not published until <u>Tuesday AM</u> to allow for sign off and data validation.
                </div>
            </div>
        </div>
    </div>

    @Html.Partial("~/Views/Shared/_WeekPicker.cshtml", new WeekPickerViewModel { Action = "GetCompliance", Controller = "Reports", WeeksOfYear = Model.WeeksOfYear, SelectedDate = Model.SelectedDate })

    @*Branch View*@
    <div class="row">
        &nbsp;
    </div>

    @if (Model.MessageType == MessageType.Warning)
    {
        <div class="alert alert-danger text-center"><strong>Reporting for the selected period has not yet been finalised, check back later.</strong></div>
    }
    else if (Model._dashboardView != null)
    {
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <strong>Overview</strong>
                    </div>
                    <!-- .panel-heading -->
                    <div class="panel-body">
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default @(Model.Timecard.TimecardDetail.Count() ==0 ? "panel-success" : "panel-danger")">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <strong>
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTimecard">Timecard Non Compliance - @(Model.Timecard.TimecardDetail.Count() == 0 ? "No timecard issues!" : "(" + Model.Timecard.HeadlineFigure + ")")</a>
                                        </strong>
                                    </h4>
                                </div>
                                <div id="collapseTimecard" class="panel-collapse collapse">
                                    @if (Model.Timecard.TimecardDetail.Count() > 0)
                                    {
                                        <div class="panel-body">
                                            <p>
                                                <h5>What is the risk?</h5>
                                                <ul>
                                                    <li>Payroll Risk – Colleagues not paid for hours they have worked, Inaccurate SOH Reporting</li>
                                                    <li>Financial risk – Colleagues paid for hours they have not worked (FT).</li>
                                                </ul>
                                            </p>
                                            <table class="table table-bordered-blue table-condensed">
                                                <thead>
                                                    <tr>
                                                        <th class="col-md-1 text-center">Employee Name</th>
                                                        <th class="col-md-1 text-center">Not Submitted / Zero Hours</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.Timecard.TimecardDetail)
                                                    {
                                                        <tr>
                                                            <td class="text-center">@item.empName</td>
                                                            <td class="text-center">@item.type</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="panel @(Model._dashboardView.ShortShifts == 0 ? "panel-success" : "panel-danger")">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <strong>
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseShift">Edited Clocks - @(Model._dashboardView.ShortShifts == 0 ? "No shift edit issues!" : "(" + Model._dashboardView.ShortShifts + ")")</a>
                                        </strong>
                                    </h4>
                                </div>
                                <div id="collapseShift" class="panel-collapse collapse">
                                    @if (Model._dashboardView.ShortShifts > 0)
                                    {
                                        <div class="panel-body">
                                            <strong class="text-danger"><u>Needs blurb</u></strong>
                                            <table class="table table-bordered-blue table-condensed">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center">Employee Name</th>
                                                        <th class="text-center">Clocks Edited</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.SS)
                                                    {
                                                        <tr>
                                                            <td>@item.PersonName</td>
                                                            <td class="text-center">@item.ShortShifts</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>

                                            <div class="text-center"><a href="@Url.Action("EditedClocks", "Reports",new { selectedDate = Model.WeeksOfYear.Where(x => x.Selected == true).First().Value })" class="btn btn-primary" role="button">Edited Shifts</a></div>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="panel @(Model._dashboardView.PunchCompliance >= 0.9 ? "panel-success" : "panel-danger")">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <strong>
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapsePunch">Clocking Compliance - @(Model._dashboardView.PunchCompliance >= 0.9 ? "No Clocking issues!" : "(" + string.Format("{0:0}%", Model._dashboardView.PunchCompliance * 100) + ")"))</a>
                                        </strong>
                                    </h4>
                                </div>
                                <div id="collapsePunch" class="panel-collapse collapse">
                                    @if (Model._dashboardView.PunchCompliance < 0.9)
                                    {
                                        <div class="panel-body">
                                            <strong class="text-danger"><u>Needs blurb</u></strong>
                                            <table class="table table-bordered-blue table-condensed">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center col-md-1" style="vertical-align:middle">Name</th>
                                                        <th class="text-center col-md-1" style="vertical-align:middle">Clocking Compliance</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.Punch.Where(x => x.PunchComp < 90))
                                                    {
                                                        <tr>
                                                            <td>@item.PersonName</td>
                                                            <td class="text-center">@(string.Format("{0:0.0}%", item.PunchComp))</td>
                                                        </tr>
                                                    }
                                            </table>
                                            <div class="text-center"><a href="@Url.Action("ClockingCompliance", "Reports",new { selectedDate = Model.WeeksOfYear.Where(x => x.Selected == true).First().Value})" class="btn btn-primary" role="button">Clocking Compliance</a></div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .panel-body -->
        </div>
    }
    else if (HttpContext.Current.Session["_RegionNumber"] != null)
    {
        @*Region view*@
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <strong>Overview</strong>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered-blue table-condensed col-md-6">
                        <thead>
                            <tr>
                                <th class="text-center col-md-2" style="vertical-align:middle">Branch Name</th>
                                <th class="text-center col-md-1" style="vertical-align:middle">Zero Hour/Missing Timecard</th>
                                <th class="text-center col-md-1" style="vertical-align:middle">Edited Clocks</th>
                                <th class="text-center col-md-1" style="vertical-align:middle">Clocking Compliance</th>
                                <th class="text-center col-md-1" style="vertical-align:middle">Compliant</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model._dashboardViewCollection)
                            {
                                <tr>
                                    <td>@(item.BranchNumber + " - " + item.StoreName)</td>
                                    <td class="text-center">@string.Format("{0}/{1}", item.ZeroHour > 0 ? item.ZeroHour.ToString() : "-", item.TotalHeadCount - item.TimeCardsCompleted > 0 ? (item.TotalHeadCount - item.TimeCardsCompleted).ToString() : "-")</td>
                                    <td class="text-center">@item.ShortShifts</td>
                                    <td class="text-center">@string.Format("{0:0.0}%", item.PunchCompliance * 100)</td>
                                    <td class="text-center @(item.ComplianceScore > 0 ? "danger" : "")">@(item.ComplianceScore > 0 ? 'N' : 'Y')</td>
                                </tr>
                            }
                            <tr>
                                <td><strong>Region Total</strong></td>
                                <td class="text-center"><strong>@(Model._dashboardViewCollection.Sum(x => x.ZeroHour))/@(Model._dashboardViewCollection.Sum(x => x.TotalHeadCount) - Model._dashboardViewCollection.Sum(x => x.TimeCardsCompleted))</strong></td>
                                <td class="text-center"><strong>@Model._dashboardViewCollection.Sum(x => x.ShortShifts)</strong></td>
                                <td class="text-center"><strong>@(string.Format("{0:0.0}%",Model._dashboardViewCollection.Average(x => x.PunchCompliance)*100))</strong></td>
                                <td class="text-center"><strong>@Model._dashboardViewCollection.Where(x => x.ComplianceScore > 0).Count()</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
    else if (HttpContext.Current.Session["_DivisionName"] != null)
    {
        var subtotal = Model._dashboardViewCollectionChannel.Where(x => x.Region == null).Single();
        @*Rolled up view*@
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <strong>Overview</strong>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered-blue table-condensed">
                        <thead>
                            <tr>
                                <th class="text-center col-md-2" style="vertical-align:middle">Name</th>
                                <th class="text-center col-md-1" style="vertical-align:middle">Zero Hour/Missing Timecard</th>
                                <th class="text-center col-md-1" style="vertical-align:middle">Edited Shifts</th>
                                <th class="text-center col-md-1" style="vertical-align:middle">Clocking Compliance</th>
                                <th class="text-center col-md-1" style="vertical-align:middle">Compliant</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model._dashboardViewCollectionChannel.Where(x => x.Region != null))
                            {
                                <tr>
                                    <td>Region @item.Region</td>
                                    <td class="text-center">@string.Format("{0}/{1}", item.ZeroHour > 0 ? item.ZeroHour.ToString() : "-", item.TotalHeadcount - item.TimeCardsCompleted > 0 ? (item.TotalHeadcount - item.TimeCardsCompleted).ToString() : "-")</td>
                                    <td class="text-center">@item.ShortShifts</td>
                                    <td class="text-center">@string.Format("{0:0.0}%", item.PunchCompliance * 100)</td>
                                    <td class="text-center">@string.Format("{0}/{1}", item.ComplianceScore, item.BranchNumber)</td>
                                </tr>
                            }
                            <tr>
                                <td><strong>Division Total</strong></td>
                                <td class="text-center"><strong>@string.Format("{0}/{1}", subtotal.ZeroHour > 0 ? subtotal.ZeroHour.ToString() : "-", subtotal.TotalHeadcount - subtotal.TimeCardsCompleted > 0 ? (subtotal.TotalHeadcount - subtotal.TimeCardsCompleted).ToString() : "-")</strong></td>
                                <td class="text-center"><strong>@subtotal.ShortShifts</strong></td>
                                <td class="text-center"><strong>@string.Format("{0:0.0}%", subtotal.PunchCompliance*100)</strong></td>
                                <td class="text-center"><strong>@string.Format("{0}/{1}", subtotal.ComplianceScore, subtotal.BranchNumber)</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
    else if (HttpContext.Current.Session["_ChannelName"] != null)
    {
        var subtotal = Model._dashboardViewCollectionChannel.Where(x => x.Division == null).Single();
        @*Rolled up view*@
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <strong>Overview</strong>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered-blue table-condensed">
                        <thead>
                            <tr>
                                <th class="text-center col-md-2" style="vertical-align:middle">Name</th>
                                <th class="text-center col-md-1" style="vertical-align:middle">Zero Hour/Missing Timecard</th>
                                <th class="text-center col-md-1" style="vertical-align:middle">Edited Shifts</th>
                                <th class="text-center col-md-1" style="vertical-align:middle">Punch Compliance</th>
                                <th class="text-center col-md-1" style="vertical-align:middle">Compliant</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model._dashboardViewCollectionChannel.Where(x => x.Division != null))
                            {
                                <tr>
                                    <td>@item.Division</td>
                                    <td class="text-center">@string.Format("{0}/{1}", item.ZeroHour > 0 ? item.ZeroHour.ToString() : "-", item.TotalHeadcount - item.TimeCardsCompleted > 0 ? (item.TotalHeadcount - item.TimeCardsCompleted).ToString() : "-")</td>
                                    <td class="text-center">@item.ShortShifts</td>
                                    <td class="text-center">@string.Format("{0:0.0}%", item.PunchCompliance * 100)</td>
                                    <td class="text-center">@string.Format("{0}/{1}", item.ComplianceScore, item.BranchNumber)</td>
                                </tr>
                            }
                            <tr>
                                <td><strong>Channel Total</strong></td>
                                <td class="text-center"><strong>@string.Format("{0}/{1}", subtotal.ZeroHour > 0 ? subtotal.ZeroHour.ToString() : "-", subtotal.TotalHeadcount - subtotal.TimeCardsCompleted > 0 ? (subtotal.TotalHeadcount - subtotal.TimeCardsCompleted).ToString() : "-")</strong></td>
                                <td class="text-center"><strong>@subtotal.ShortShifts</strong></td>
                                <td class="text-center"><strong>@string.Format("{0:0.0}%", subtotal.PunchCompliance * 100)</strong></td>
                                <td class="text-center"><strong>@string.Format("{0}/{1}", subtotal.ComplianceScore, subtotal.BranchNumber)</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }

</section>
@section myScripts {
    <script>
        function dateChanged(ev) {
            if ($('#SelectedDate').val() != '') {
                $('#complianceDateForm').submit();
            }
        }
    </script>
}

